.wrapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 352px;
    width: 352px;
    border: 64px solid #fff;
    border-left-width: 32px;
    border-top-width: 32px;
    z-index: 999;
}
.screen {
    position: fixed;
    left: 0;
    top: 0;
    height: 416px;  /* 13 * 32px */
    width: 416px;
}

.field {
  position: absolute;
  height: 32px;
  width: 32px;
  background: #444;
}

.hero {
  position: fixed;
  left: 192px;
  top: 192px;
  height: 32px;
  width: 32px;
  background: url('img/hero-no-eq.png');
  z-index: 10;
}
